body{
    background-color:rgb(233, 254, 254);
}

h1{
    font-size: 50px;
    margin-left: 350px;
    font-family: 'BhuTuka Expanded One', cursive;
font-family: 'Ibarra Real Nova', serif;
}

nav{
  color: black;
    font-size: 30px;
    font-family: 'BhuTuka Expanded One', cursive;
font-family: 'Ibarra Real Nova', serif;
}

    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        padding: 30px;
      }


      footer{
        margin-top: 100px;
      }

      p {
        color: rgb(0, 0, 0);
        font-family: 'BhuTuka Expanded One', cursive;
font-family: 'Ibarra Real Nova', serif;
font-size: 20px;
      }